[Desktop Entry]
Type=Application
Name=Vomplayer
GenericName=Video Player
Comment=Plays video without making you reconfigure HDR and VRR
Exec=vomplayer %U
Icon=net.vomplayer.Vomplayer
Terminal=false
Categories=AudioVideo;Player;Video;
StartupNotify=true
StartupWMClass=net.vomplayer.Vomplayer
SingleMainWindow=true
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-m4v;video/mp2t;video/mpeg;video/x-ms-wmv;video/x-flv;video/3gpp;video/3gpp2;video/ogg;video/x-ogm+ogg;video/x-theora+ogg;application/vnd.apple.mpegurl;application/x-mpegurl;application/x-matroska;audio/mpeg;audio/flac;audio/x-wav;audio/ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/mp4;audio/aac;audio/x-aac;audio/ac3;audio/x-ac3;audio/x-dts;audio/x-ms-wma;audio/x-matroska;
Keywords=Movie;Film;Music;Audio;HDR;VRR;mpv;
